@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#container {
   width: 100%;
   height: 100vh;
}

#enemy-side {
    width: 100%;
    height: 50vh;
    background: #E21919;
    border-bottom: 5px #DE9D1F solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

#player-side {
    width: 100%;
    height: 50vh;
    background: #1919E2;
    border-top: 5px #DE9D1F solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enemy-stars-container {
    position: absolute;
    left: 100px;
}

.star {
    width: 100px;
    height: 100px;
    background: url(img/emptystar.png);
    margin: 10px;
}

.filled {
    background: url(img/filledstar.png);
}

.enemy-card-container {
    position: relative;
    width: 250px;
    height: 350px;
}

.enemy-card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.enemy-card:hover {
    transform: rotateY(180deg);
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: url(img/backcard.png);
    border-radius: 30px;
    border: 5px #A07011 solid; 
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 30px;
    border: 5px #A07011 solid; 
}

.player-stars-container {
    position: absolute;
    right: 100px;
}

.player-cards-container {
    position: relative;
    top: 30px;
    display: flex;
}

.player-card {
    width: 250px;
    height: 350px;
    background-color: yellow;
    margin: 30px;
    border-radius: 20px;
    border: 5px #A07011 solid;
    transition: 300ms;
    cursor: pointer;
}

.player-card:hover {
    transform: translateY(-30px);
}

.active {
    border-color: #00FF00;
}

.scissors {
    background: url(img/scissors.png);
}

.rock {
    background: url(img/rock.png);
}

.paper {
    background: url(img/paper.png);
}

button {
    position: absolute;
    width: 500px;
    height: 100px;
    background: #DE9D1F;
    border: 5px #A07011 solid;
    border-radius: 30px;
    color: #ffffff;
    font-size: 100px;
    padding-top: 5px;
    top: 45vh;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    transition: 200ms;
    cursor: pointer;
}

button:hover {
    background: #EFAE2F;
    border-color: #B18122;
}